<div class="container-fluid footer">
  <!-- footer-->
  <div class="row">
    <ul class="social-links text-center list-inline">
      <li>
        <a href="http://www.github.com">
          <span class="fa fa-stack fa-lg fa-3x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-github fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-stack fa-lg fa-3x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
      </li>
      <li>
        <a href="#">
          <span class="fa fa-stack fa-lg fa-3x">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- footer-->

<div class="container-fluid footer-down">
  <div class="copyright text-center">Copyright © Wojciech Pelczar 2016</div>
</div>