<div id="search" class="full-screen-modal">
    <button type="button" class="close">&times;</button>
    <div id="search-container" class="container-fluid">
        <div class="row text-center">
            <input id="search-input" type="search" value="" placeholder="search..." />  
        </div>
        <div class="row text-center">
            <ul id="results-container"></ul>
        </div>
    </div>
    
    <!--<div id="search-container">
        <input type="text" id="search-input" placeholder="search..." />
        <ul id="results-container"></ul>
    </div>-->
</div>