.top-bar{
  background: $base-color-5 url("../images/pexels2.jpg") center center no-repeat;
  background-size: 100%;
  height: 320px;
  margin: 0 0 30px 0;
  position: relative;
  padding: 50px 0 0 0;
  text-align: center;
}

.site-title{
  color: white;
  font-size: 50px; 
  display: block;
  font-weight: bold;
  text-shadow: 2px 2px black;
}

.site-subtitle{
  color: white;
  font-size: 30px; 
  display: block;
  text-shadow: 1px 1px #111;
}

.overlay::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.site-heading{
  @include vertical-align();
  text-align: center;
  z-index: 2;
  display: inline-block;
}

.navbar-default{
  background-color: rgba(0, 0, 0, 0.65);
  border: none;
  @include border-radius(0);
  .navbar-brand{
    color: $base-color-3;
    &:hover,
    &:focus{
      color: $base-color-1;
    }
  }
  .navbar-nav>li>a{
    color: $base-color-3;
    &:hover,
    &:focus{
      color: $base-color-1;
    }
  }
}

.navbar-right{
  text-transform: uppercase;
}

hr.small{
    max-width: 100px;
    margin: 15px auto;
    border-width: 4px;
    border-color: white;
}

@media(max-width:600px){
  .top-bar{
    height: 200px;
  }
  .site-title{
    font-size: 35px;
  }
  .site-subtitle{
    font-size: 25px;
  }
  hr.small{
    margin: 10px auto;
  }
}

@media(max-width:350px){
  .top-bar{
    height: 150px;
  }
    .site-title{
    font-size: 30px;
  }
  .site-subtitle{
    font-size: 20px;
  }
  hr.small{
    margin: 5px auto;    
  }
}
