.post-preview{
  margin: 15px 0 30px 0 ;
  padding: 0 0 25px 0;
  border-bottom: 1px dotted lighten($base-color-4, 25%);
}

.post-title{
  @include sans-serif();
  font-size: 40px;
  font-weight: 800;
  margin: 10px 0 10px 0;
  line-height: 1.1;
}

.post{
  margin-bottom: 50px; 
  text-align: justify;
  .post-title{
    margin-bottom: 30px;
    font-size: 55px;
  }
}

.post-entry,  .post-content{
  @include sans-serif();
  font-size: 18px;
  text-align: justify;
  a {
    text-decoration: underline;
  }
  img {
    max-width: 100%;
    margin: 5px 0 10px 0;
  }
}

.post-date{
  margin-right: 10px;
}

.post-info{
  margin: 5px 0 15px 0;
  color: gray;
  line-height: 2;
  a{
    color: gray;
    @include transition(color 0s);
    white-space: nowrap;
  }
}

.post-footer{
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid $base-color-3; 
}

.post-comments-icon{
  display: inline-block;
  a{
    &:hover, &:focus{
      color: $base-color-1;
    }
  }
}

.read-more{
  text-align: center;
  a{
    padding: 0 5px 1px 5px;
    border-bottom: 1px solid $base-color-1;
    text-decoration: none;
  }
}
